@import url("https://fonts.googleapis.com/css2?family=Mogra&display=swap");

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	max-height: calc(100vh - 3%);
	background: linear-gradient(to right, rgb(221, 249, 249), rgb(208, 232, 240));
}

:root {
	--blue: rgb(57, 123, 215);
}

header {
	width: 100%;
	height: 3%;
	text-align: center;
}

main {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.ideal,
.actual {
	width: 50%;
	border: 1px solid black;
	font-size: 1.3rem;
}

.ideal div,
.actual div {
	padding: 2%;
}
.budget {
	width: 100%;
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 8%;
}
h3 {
	width: 100%;
	font-size: 2rem;
	text-align: center;
	text-decoration: underline;
}
h1 {
	font-size: 2.2rem;
}
h4 {
	font-size: 1.3rem;
}

.budgetInputWrapper {
	overflow: auto;
	height: 70%;
	/* border: 1px solid var(--blue); */
	width: 24%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.budgetInputs {
	/* overflow: auto;
	height: 70%;
	width: 24%; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h4 {
	text-align: center;
	text-decoration: underline;
	width: 100%;
}
span,
input {
	color: var(--blue);
	font-weight: bold;
}
input {
	width: 50%;
	height: 26px;
}
header,
footer {
	background-color: #4cbb17;
	margin: 0px;
	padding: 0.5%;
	color: white;
}
button:hover,
button:focus {
	background-color: rgb(165, 215, 255);
	border: 2px solid yellow;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1%;
	margin: 1%;
	height: 27px;
	border: 2px solid var(--blue);
	background-color: rgb(218, 235, 249);
	color: var(--blue);
	font-weight: bold;
	border-radius: 7px;
	transition: all 0.2s ease;
}

.actual,
.ideal {
	background-color: rgb(234, 234, 234);
}

.budget {
	background-color: rgb(234, 234, 234);
}

.eagles {
	max-width: 100%;
}

.eagleWrap,
h1 {
	width: 33%;
}

footer {
	width: 100%;
	display: flex;
	justify-content: center;
	border: 1px solid black;
}
#housingButton {
	background-color: transparent;
	border: none;
	color: transparent;
}

#netIncome {
	font-size: 1.2rem;
	padding: 1%;
	color: #11b211;
	font-weight: bold;
	background-color: white;
	border: 1px solid black;
	width: 200px;
	display: block;
	height: 26px;
}

#moneySpent {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	color: #11b211;
	font-weight: bold;
	background-color: white;
	border: 1px solid black;
	width: 200px;
	height: 26px;
	padding-left: 1%;
}

.totalOutputBox {
	display: flex;
	flex-wrap: wrap;
}
.realPercent {
	color: black;
	background-color: yellow;
}
.goodPercent {
	background-color: yellow;
	color: black;
}

.bold {
	font-weight: bold;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.normTitle {
	width: 100%;
	font-size: 1.3rem;
}
.mogra {
	font-size: 3rem;
	font-family: "Mogra", cursive;
}

header h1 {
	margin: 0;
}

h3 {
	margin: 15px 0px;
}

@media screen and (max-width: 800px) {
	.mogra {
		font-size: 2rem;
	}
}

@media screen and (max-width: 600px) {
	.ideal,
	.actual {
		width: 100%;
	}
	.mogra {
		font-size: 1.5rem;
	}
	.budgetInputWrapper {
		width: 48%;
	}
	.budget {
		height: 100%;
	}
}
@media screen and (max-width: 400px) {
	.mogra {
		font-size: 1rem;
	}
}
